! dpi and antialiasing
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.autohint:  	true
! Xft.hintstyle:  hintslight

! set cursor
! Xcursor.theme: Oxygen_Black
! Xcursor.size: 16

!URxvt.depth: 32
URxvt.saveLines:32767
URxvt.scrollBar: false

URxvt*font: xft:Noto Mono:size=14

URxvt.perl-ext:
URxvt.perl-ext-common:
! URxvt.perl-ext-common: default,matcher
! URxvt.urlLauncher: firefox
! URxvt.matcher.button: 2
! URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

URxvt*colorUL: #c5f779
URxvt*underlineColor: #c5f779

urxvt.background: #151515
urxvt.foreground: #FFFFFF
urxvt.cursorColor: #dddddd
urxvt.color0:       #1E2F41
urxvt.color8:       #906B61
urxvt.color1:       #84252C
urxvt.color9:       #c94428
urxvt.color2:       #ae7d6e
urxvt.color10:      #C0BD86
urxvt.color3:       #D6C08F
urxvt.color11:      #Ad683b
urxvt.color4:       #143A58
urxvt.color12:      #E09657
urxvt.color5:       #62162E
urxvt.color13:      #7C1C3B
urxvt.color6:       #8B9c4d
urxvt.color14:      #D9945F
urxvt.color7:       #B99F8D
urxvt.color15:      #0d0b0d
